header {
  background-color: #078787;
  padding: 0px 10px 0px 10px;
  height: 56px;
  text-decoration: none;
  color: rgb(207, 232, 254);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.app {
  padding: 1px 20px 1px 20px;
  text-decoration: none;
  color: rgb(226, 232, 236);
  display: inline-flex;
}

.app p {
  padding: 1px 20px 1px 20px;
}

h4{
 font-family: 'Courier New', Courier, monospace;
 font-size: medium;
 text-indent: 3px;
}


.main{
  margin-top: 56px;
}

.nav-link{
  color: rgb(239, 241, 243);
}

footer{
  background-color: #078787;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}